Google Fonts - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body background and text colors */
body {
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Header and Navigation styles */
nav {
    background-color: #6a0dad;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ff9500;
}

/* Logo */
nav img {
    width: 5%;
    height: 5%;
    float: inline-start;
    margin-left: 10%;
}

/* Navigation menu */
nav ul {
    list-style: none;
    text-align: right; /* Align the content to the right */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Button styles */
button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9500;
}

/* Dashboard button example */
.dashboard-button {
    background-color: #ff9500;
    color: #333;
}

.dashboard-button:hover {
    background-color: #6a0dad;
    color: #fff;
}

/* Page wrapper styles */
.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Login form styles */
.signup-form {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.signup-form h2 {
    color: #333;
}

.signup-form form {
    text-align: left;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Center-align the Sign Up and Log In buttons */
.signup-form button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block; /* Make the button a block-level element for center alignment */
    margin: 0 auto; /* Center-align the button horizontally */
}

.signup-form button:hover {
    background-color: #ffcc00;
}

/* .signup-form welcome {
    text-align: center;
}

.signup-form welcome p{
    color: #ff0000;
    font-style: italic;
} */

.index-intro h1{
    text-align: center;
    margin: 20px;
}

.index-intro p{
    text-align: justify;
    margin: 20px;
    text-wrap: balance;
    font-size: 1rem;
}



/* ------------------------------------------------------------------- */


*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* Font-family */

@font-face {
  font-family: "Futura";
  src: url(futura.ttf);
}

@font-face {
  font-family: "Titillium";
  src: url(TitilliumWeb.ttf);
}

@font-face {
  font-family: "Sans";
  src: url(sans.ttf);
}

/* PDF MODULE */

.pdfobject-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.6s;
}

.pdfobject {
  border: solid 1px #666;
}

#results {
  padding: 1rem;
}

.hidden {
  display: none;
  transition: 0.6s;
}

.success {
  color: #4f8a10;
  background-color: #dff2bf;
}

#pdf-failed {
  color: #d8000c;
  background: #ffffff;
}

/* NAVIGATION BAR */

nav.navbar {
  background: rgb(90, 25, 78);
  border-bottom: 4px solid #f6a20a;
}

nav.navbar a img {
  height: 40px;
  width: auto;
}

nav.navbar ul {
  padding-right: 20px;
}

nav.navbar ul li {
  padding: 3px;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: "Sans";
}

nav.navbar ul .dropdown-menu {
  background: rgb(90, 25, 78);
  font-size: 12px;
}

.dropdown-menu a {
  color: #fff;
}

nav.navbar a span {
  display: block;
  float: left;
  text-align: center;
  background-color: #e71f79;
  margin-top: -20px;
  margin-bottom: -60px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 4px 6px #000000b4;
}

/* CROUSEL */

.carousel-item.item1 {
  background: url(../assets/images/896463_3265789.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.carousel-item.item2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../assets/images/896463_3265896.JPG);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.carousel-item.item3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../assets/images/896463_3266898.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.carousel-item.item4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../assets/images/896463_3266896.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.carousel-item.item5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../assets/images/42342342.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.carousel-item .text {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #fff;
  text-align: right;
  width: auto;
}

.carousel-item .text h2 {
  position: absolute;
  bottom: 115px;
  right: 10px;
  letter-spacing: 0.7px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Futura";
  color: #ffc456;
}

.carousel-item .text img {
  width: auto;
  max-height: 156px;
}

/* COUNTER */

.header_menu.glance {
  width: 100%;
  height: auto;
  padding: 60px 30px;
  text-align: center;
}

.header_menu.glance .heading {
  margin-bottom: 40px;
  font-family: "Futura";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.header_menu.glance .heading .glances {
  color: #b3007d;
  position: relative;
}

.header_menu.glance .heading .glances::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 2px;
  width: 30px;
  height: auto;
  border-bottom: 2px solid #b3007d;
  /* text-decoration: underline 2px #c98200; */
}

.header_menu.glance #counter .count {
  font-size: 35px;
  line-height: 180%;
  font-family: "Titillium";
}

.header_menu.glance #counter p {
  position: relative;
  width: 100%;
  font-family: "Sans";
  font-weight: 400;
  color: rgb(73, 73, 73);
  font-size: 16px;
  letter-spacing: 0.7px;
}

.header_menu.glance #counter p::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  border-bottom: 2px solid rgb(161, 161, 161);
}

.header_menu p {
  width: 100%;
}

/* HOME ABOUT */

.about_section {
  padding: 60px 20px;
  height: auto;
  background: #f8e7e7;
}

.about_section .heading1 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 32px;
  position: relative;
}

.about_section .heading2 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline 2px solid #535252;
  color: #535252;
}

.about_section .heading1::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 45px;
  border: 1px solid #b3007d;
}

.about_section .heading1::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50px;
  width: 25px;
  border: 1px solid #413e3e;
}

.about_section p {
  text-align: justify;
  font-size: 16px;
  font-family: "Sans";
  color: #2b2b2b;
}

.slideshow li {
  list-style: none;
}

.slideshow {
  margin: 15px;
  overflow: hidden;
}

.slideshow,
.slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-size: cover; */
  background-position: center;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background: url(../assets/images/6767535678.jpg);
  background-size: 100% 100%;
}

.slideshow li:nth-child(2) span {
  background: url(../assets/images/7286677778.JPG);
  background-size: 100% 100%;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background: url(../assets/images/8239823788.jpg);
  background-size: 100% 100%;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background: url(../assets/images/76586647577.jpg);
  background-size: 100% 100%;
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
  background: url(../assets/images/76876576464.jpg);
  background-size: 100% 100%;
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

.slideshow li:nth-child(6) span {
  background: url(../assets/images/218361782589.jpg);
  background-size: 100% 100%;
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -o-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -o-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    -moz-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    -o-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -o-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -o-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
    -ms-transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0%);
  }
  19% {
    opacity: 0;
    -ms-transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }
  8% {
    opacity: 1;
    transform: translateY(0%);
  }
  17% {
    opacity: 1;
    transform: translateY(0%);
  }
  19% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Show at least something when animations not supported */

.no-cssanimations .slideshow li span {
  opacity: 1;
}

/* ABOUT SECTION */

.abt_back {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../assets/images/8239823788.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 40vh;
  position: relative;
}

.abt_back h2 {
  position: absolute;
  left: auto;
  bottom: 30px;
  color: #fff;
  font-family: "Futura";
  font-size: 50px;
  letter-spacing: 0.6px;
}

.abt_back h2::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 60px;
  border: 1px solid #ffffff;
}

section.about {
  padding: 60px 20px;
}

.image_about {
  width: 100%;
  height: auto;
}

section.about h1 {
  font-family: "Futura";
  letter-spacing: 0.3px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  color: rgb(14, 14, 14);
}

section.about h2 {
  font-family: "Futura";
  letter-spacing: 0.3px;
  font-size: 25px;
  font-weight: bold;
  line-height: 120%;
  margin-top: 20px;
  color: #aa004f;
}

section.about h2.heading {
  font-family: "Futura";
  letter-spacing: 0.4px;
  font-size: 20px;
  line-height: 120%;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(68, 66, 66);
}

section.about p {
  font-family: "Sans";
  letter-spacing: 0.5px;
  text-align: justify;
  font-weight: 500;
}

section.about h1::after {
  position: absolute;
  content: "";
  height: auto;
  width: 60px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(112, 112, 112);
}

.border_dashed {
  border: none;
  border-bottom: 2px solid rgb(128, 128, 128);
  border-bottom-style: dashed;
  width: 100%;
  margin: 30px 0;
}

.team-lib .cntr,
.team-developer .cntr {
  width: 100%;
  text-align: center;
}

.team-heading {
  text-align: center;
  margin: 40px 10px;
}

.team-lib img,
.team-developer img {
  max-width: 220px;
  height: auto;
  margin: 5px auto;
}

.team-lib p.desc,
.team-developer p.desc {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-family: "Sans";
  font-size: 16.5px;
  letter-spacing: 1px;
  color: #000000cc;
  font-weight: bold;
}

.team-lib p.desc i,
.team-developer p.desc i {
  font-size: 20px;
  margin: 5px;
}

.team-developer p.desc span {
  font-size: 14px;
  font-weight: normal;
}

/* SYLLABUS */

.back_syll {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../assets/images/896463_3265789.jpg);
  min-height: 55vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 0;
}

.back_syll h3 {
  position: absolute;
  font-family: "Futura";
  letter-spacing: 0.7px;
  top: 40px;
  color: #ffffff;
  line-height: 90%;
  font-size: 32px;
}

.back_syll label {
  color: #fff;
}

/* GET/NET */

.get-netback {
  min-height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/gate.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.get-netback .heading {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 20vh;
}

.get-netback h1 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  font-family: "Futura";
  position: absolute;
  top: 40px;
  letter-spacing: 1px;
  line-height: 90%;
}

.get-netback h1::before {
  position: absolute;
  content: "";
  border: 1.5px solid rgb(255, 233, 233);
  width: 62px;
  left: 0;
  bottom: 0;
}

.gate_exam {
  height: 100%;
  padding: 30px 0px;
  position: relative;
}

.gate_exam label {
  color: #fff;
  font-size: 15px;
  font-family: "Sans";
  letter-spacing: 1px;
}

/* Footer */

.explore {
  padding: 60px 20px;
  height: auto;
  background: #fff;
}

.explore h1 {
  font-family: "Futura";
  letter-spacing: 0.3px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  color: rgb(14, 14, 14);
}

.explore .list-group {
  height: 300px;
  overflow-y: auto;
  margin: 20px 0;
}

/* Quick Links */

.card-header {
  background: #000000;
  color: #ffffff;
}

.card {
  height: 300px;
  overflow-y: auto;
  margin: 20px 0;
  z-index: 7;
}

.quick-link h1 {
  font-family: "Futura";
}

/* Footer */

footer {
  background: linear-gradient(75deg, #610a32 0%, #aa004f 50%, #5c002b 100%);
  height: auto;
  width: 100%;
  padding-top: 30px;
  /* color: rgb(250, 138, 33) */
}

footer .push {
  padding: 10px;
  font-size: 14px;
  font-family: "Sans";
  letter-spacing: 0.7px;
  line-height: 180%;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ffffff;
  color: #ffffff;
}

footer .push a {
  color: rgb(134, 251, 255);
  font-weight: 500;
}

footer .push a:hover {
  color: rgb(208, 53, 247);
}

footer .content {
  color: #fff;
  margin: 10px 10px 50px 10px;
}

footer .content p i {
  font-size: 25px;
  margin: 10px 5px;
}

footer .content h3 {
  font-family: "Titillium";
  font-size: 20px;
  color: #bbefff;
  line-height: 95%;
  text-decoration: underline;
  letter-spacing: 0.5px;
}

footer .content p {
  text-align: justify;
  font-size: 14.5px;
  font-family: "Sans";
  letter-spacing: 0.7px;
}

footer .content p.cont i {
  font-size: 15px;
}

/* RESPONSE */

@media only screen and (max-width: 975px) {
  ul {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .carousel-item.item1,
  .carousel-item.item2,
  .carousel-item.item3,
  .carousel-item.item4,
  .carousel-item.item5 {
    height: 40vh;
    width: 100%;
    background-size: 100% 100%;
  }

  .carousel-item .text img {
    width: auto;
    max-height: 80px;
    position: relative;
    top: 32px;
    left: 28px;
  }
}

